<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Oswald:wght@700&family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="../static/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css">
</head>
<body>
<header class="headr">
        <div class="container my-flex">
            <a href="#" class="fab fa-earlybirds logo"></a>
            <h2 class="head">La Shop</h2>
            <p class="after_h1">Компания по продаже бытовой техники</p>
            <p class="tell"> Call us: 9357425</p>
        </div>
</header>
<section class="background_all">
<div class="container text">
    <h1>Привет</h1>
    {{#errorMessage}}
        <p>{{errorMessage}}</p>
    {{/errorMessage}}
    <form method="post" action="/login">
        <label class="centr">
                <input class="input" name="login" type="text" placeholder="логин">
            <input class="input" name="password" type="password" placeholder="пароль">
        </label>
        <button class="log_but" type="submit">Вход</button>
    </form>
    <a class="registered" href="/register">Зарегистрироваться</a>


</div>
</section>
<footer>

</footer>
</body>
</html>